## Data Understanding

In [91]:
import pandas as pd
import numpy as np

In [92]:
df= pd.read_csv('../Data/judge-1377884607_tweet_product_company.csv',
                encoding='latin-1')
df.head()

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [93]:
df['company']=df['emotion_in_tweet_is_directed_at']
df['sentiment']= df['is_there_an_emotion_directed_at_a_brand_or_product']
df= df.drop(columns=['emotion_in_tweet_is_directed_at',
                 'is_there_an_emotion_directed_at_a_brand_or_product'])

In [94]:
df.head()

,tweet_text,company,sentiment
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [95]:
df['sentiment'].value_counts()

sentiment
No emotion toward brand or product    5389
Positive emotion                      2978
Negative emotion                       570
I can't tell                           156
Name: count, dtype: int64

This shows class imbalance

In [96]:
df.shape

(9093, 3)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9093 entries, 0 to 9092
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_text  9092 non-null   object
 1   company     3291 non-null   object
 2   sentiment   9093 non-null   object
dtypes: object(3)
memory usage: 213.2+ KB

In [98]:
df.isna().sum()

tweet_text       1
company       5802
sentiment        0
dtype: int64

Replacing the missing values with the mode of the column

In [99]:
company_mode=df['company'].mode()
df['company']= df['company'].fillna(company_mode[0])

# there is an option of predicting the missing values with the RandomForestClassifier

In [100]:
df.isna().sum()

tweet_text    1
company       0
sentiment     0
dtype: int64

In [101]:
df.dropna(inplace=True)

In [102]:
df.isna().sum()

tweet_text    0
company       0
sentiment     0
dtype: int64

In [103]:
df.duplicated().sum()

22

In [104]:
df=df.drop_duplicates()

In [105]:
df.describe()

,tweet_text,company,sentiment
count,9070,9070,9070
unique,9065,9,4
top,RT @mention RT @mention It's not a rumor: Appl...,iPad,No emotion toward brand or product
freq,2,6733,5375

In [106]:
#Changing text to lowercase
df['tweet_text']= df['tweet_text'].str.lower()
df.head()

,tweet_text,company,sentiment
0,.@wesley83 i have a 3g iphone. after 3 hrs twe...,iPhone,Negative emotion
1,@jessedee know about @fludapp ? awesome ipad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin can not wait for #ipad 2 also. the...,iPad,Positive emotion
3,@sxsw i hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on fri #sxsw: marissa m...,Google,Positive emotion

In [107]:

import re

def clean_text(text):
    if isinstance(text, str):
        text = text.lower()
        text = re.sub(r"http\S+", "", text)       # remove URLs
        text = re.sub(r"@\w+", "", text)          # remove mentions
        text = re.sub(r"#\w+", "", text)          # remove hashtags
        text = re.sub(r"[^a-z\s]", "", text)      # remove punctuation/numbers
        return text
    return ""

df['clean_tweet_text'] = df['tweet_text'].apply(clean_text)

In [108]:
df.drop(columns=['tweet_text'], inplace=True)
df.head()

,company,sentiment,clean_tweet_text
0,iPhone,Negative emotion,i have a g iphone after hrs tweeting at it ...
1,iPad or iPhone App,Positive emotion,know about awesome ipadiphone app that youl...
2,iPad,Positive emotion,can not wait for also they should sale them...
3,iPad or iPhone App,Negative emotion,i hope this years festival isnt as crashy as ...
4,Google,Positive emotion,great stuff on fri marissa mayer google tim ...